.navbar.navbar-default {
    background-color: #D0E3C4
}
.nav.navbar-nav.navbar-right {
    color: #C05746
}

















.contact_us_form {
  margin: 0;
padding: 0;
border: none;
width: 100;
height: 100;

}
